<!-- SECRETARIAT SECTION START -->
<section class="team-section">
    <div class="auto-container">
        <div class="sec-title style-two text-center">
            <!--<div class="big-title">{{ content.bigTitle|default('Governlia') }}</div>
            <div class="sub-title">{{ content.subline|default('City With Equity - Efficiency - Opportunity') }}</div>-->
            <h2>{{ content.headline|default('') }}</h2>
        </div>

        <div class="row">
            {% if content.organisation is not empty %}
                {% for item in content.organisation %}
                    
                    {# Resolve avatar by ID #}
                    {% if item.avatar is defined and item.avatar.id is defined %}
                        {% set avatar = sulu_resolve_media(item.avatar.id, app.request.locale) %}
                        {% set source = avatar.formats['secretariat_360x400'] 
                            is defined and avatar.formats['secretariat_360x400'] is not empty 
                            ? avatar.formats['secretariat_360x400'] 
                            : asset('assets/images/resource/team-placeholder.jpg') %}
                    {% else %}
                        {% set source = asset('assets/images/resource/team-placeholder.jpg') %}
                    {% endif %}

                    <div class="col-xl-4 col-md-6 team-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{ source }}" alt="{{ item.fullName }}" class="img-fluid"/>
                            </div>
                            <div class="content">
                                <h4>{{ item.titleName }} {{ item.fullName }}</h4>
                                <div class="designation">{{ item.positionName }}</div>
                            </div>
                            <div class="overlay">
                                <div class="content-two">
                                    <h4>{{ item.titleName }} {{ item.fullName }}</h4>
                                    <div class="designation">{{ item.positionName }}</div>
                                    <ul class="contact-info">
                                        {% if item.mainPhone is not empty %}
                                            <li>
                                                <a href="tel:{{ item.mainPhone }}">
                                                    <i class="fas fa-phone"></i>{{ item.mainPhone }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if item.mainEmail is not empty %}
                                            <li>
                                                <a href="mailto:{{ item.mainEmail }}">
                                                    <i class="fas fa-envelope-open"></i>{{ item.mainEmail }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <ul class="social-links">
                                        {% if item.contactDetails.socialMedia is not empty %}
                                            {% for socialMedia in item.contactDetails.socialMedia %}
                                                {% set class = socialMedia.username|split('.')[1] %}
                                                {% if 'twitter' in socialMedia.username %}
                                                    {% set class = 'twitter' %}
                                                {% endif %}
                                                <li>
                                                    <a href="{{ socialMedia.username }}">
                                                        <i class="fab fa-{{ class }}"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- SECRETARIAT SECTION END -->
