
{% if content.snippets|length > 0 %}
{% set content = content.snippets[0] %}
<!-- Bnner Section -->
    <section class="banner-section mt-0">
        <div class="swiper-container banner-slider">
            <div class="swiper-wrapper">
       {% for slider_item in content.slider %}
       {% if slider_item.slider_url or slider_item.slider_link[0].url is defined %}
                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url({{ slider_item.slider_image[0].formats['1920x800'] }});">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <small>{{ slider_item.slider_small }}</small>
                                <h1>{{ slider_item.slider_headline }} </h1>
                                <div class="text">{{ slider_item.slider_subline }}</div>
                                <div class="link-box">
                                 {%  set sliderUrl = slider_item.slider_url ? slider_item.slider_url : slider_item.slider_link[0].url %}
                                    <a href="{{ sliderUrl }}" class="theme-btn btn-style-one"><span>{{ slider_item.slider_button }}</span></a>
                                    <!--<a href="#" class="theme-btn btn-style-one style-two"><span>Virtual Tour</span></a>-->
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="banner-slider-nav">
            <div class="banner-slider-control banner-slider-button-prev"><span><i class="icon-arrow"></i></span></div>
            <div class="banner-slider-control banner-slider-button-next"><span><i class="icon-arrow"></i></span> </div>
        </div>
    </section>
    <!-- End Bnner Section -->
{% endif %}


