<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    {% set webspaceSettings = sulu_snippet_load_by_area('webspace_settings') %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
        
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Merriweather:ital@0;1&display=swap" rel="stylesheet">

    {% endblock %}
   
</head>
<body>

    <div class="page-wrapper">
        <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>
  
 
    {% include 'partial/header.html.twig' %}  


   <!--SEARCH HERE -->

    <main>
        {% block content %}{% endblock %}
    </main>


    {% block footer %}

    {% include 'partial/footer.html.twig' %}

    {% endblock %}

  </div>
<!--End pagewrapper-->  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon-arrow"></span></div>


    {% block javascripts %}

            <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>
            {{ encore_entry_script_tags('jqueryfancyboxjs') }}
            <script type="text/javascript" src="{{ asset('assets/js/isotope.js') }}"></script>
            {{ encore_entry_script_tags('owljs') }}
            {{ encore_entry_script_tags('appearjs') }}
            <!--{{ encore_entry_script_tags('wowjs') }}-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> 
            {{ encore_entry_script_tags('lazyloadjs') }}
            <script type="text/javascript" src="{{ asset('assets/js/scrollbar.js') }}"></script>
            {{ encore_entry_script_tags('TweenMaxminjs') }}
            <!--{{ encore_entry_script_tags('swiperminjs') }}-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
            {{ encore_entry_script_tags('polyglot') }}
            {{ encore_entry_script_tags('ajaxchimpminjs') }}
            {{ encore_entry_script_tags('parallax-scrolljs') }}
            {{ encore_entry_script_tags('scriptjs') }}

    {% endblock %}
            
</body>
</html>
